div(ng-controller='DefaultCtrl')
    h1.page-header {{Header}}
    .row.placeholders
        .col-xs-6.col-sm-6.placeholder
            //img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' style='width:400px;height:400px')
            .action_btn
                IP
            h4 Координаты по IP
        .col-xs-6.col-sm-6.placeholder
            //img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' style='width:400px;height:400px')
            .action_btn
            h4 Координаты по Городу